.button {
	width: fit-content;
	position: relative;
	padding: 2rem;
	background: transparent;
	color: var(--txt);
	font-size: 1.4rem;
	font-weight: 500;
	transition: var(--t1);
}

.button::before, .button::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid 2px var(--b1);
	will-change: transform;
	transition: var(--t1);
}

.button::before {
	transform: translate(-.5rem, -.5rem);
}

.button::after {
	transform: translate(.5rem, .5rem);
}