.errorPage {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
	gap: 2.5rem;
}

.code {
	font-size: 3.5rem;
	font-weight: 800;
}

.message {
	text-align: center;
	font-size: 1.8rem;
	font-weight: 300;
}

.error a {
	top: 1rem;
}