@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

* {
  box-sizing: border-box;
  line-height: 1;
}

*::selection {
  background: var(--b1);
  color: var(--b3);
}

:root {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  --txt: #EEEEEE;
  --b1: #49C6E5;
  --b1opaque: rgb(73, 198, 229, .33);
  --b2: #1A262D;
  --b3: #141C21;
  --b3opaque: rgb(20, 28, 33, .33);
  --t1: .125s;
  --t2: .25s;
  --t3: .375s;
  --t4: .5s;
  --t5: .625s;
  --t6: .75s;
  --t7: .875s;
  --t8: 1s;
  --s1: 0 .5rem .75rem -.25rem rgba(0, 0, 0, .25);
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  scrollbar-color: var(--b1) var(--b3);
  scrollbar-width: thin;
  background: var(--b3);
}

body::-webkit-scrollbar {
  background-color: var(--b3);
  width: 2px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--b1);
}

menu, ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button, a, input, textarea {
  border: none;
  text-decoration: none;
  outline: none;
  color: inherit;
}

button, a {
  cursor: pointer;
}

label {
  visibility: hidden;
  position: absolute;
  height: 0;
  width: 0;
  user-select: none;
}

h1, h2, h3, h4, h5, h6, p, li, input, textarea {
  margin: 0;
  padding: 0;
  color: var(--txt);
}

p {
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 11px;
  }
}
