.landingSect {
	display: flex;
	align-items: center;
	padding: 0 5%;
	height: 100vh;
	height: calc(var(--vh) * 100);
	width: 100vw;
}

.landing {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.heading {
	font-size: 6rem;
	font-weight: 900;
	animation-delay: var(--t1);
	margin: 0 !important;
	will-change: transform;
}

.text {
	font-size: 1.8rem;
	font-weight: 300;
	animation-delay: var(--t2);
	will-change: transform;
}

.landing > button {
	left: .5rem;
	top: 1.5rem;
	animation-delay: var(--t3);
}

@media screen and (min-width: 768px) {
	.text {
		width: 75%;
	}
}

@media screen and (min-width: 1024px) {
	.landingSect {
		padding: 0 10%;
	}
}

@media screen and (min-width: 1366px) {
	.landingSect {
		padding: 0 15%;
	}
	.text {
		width: 50%;
	}
}

@media screen and (min-width: 1920px) {
	.landingSect {
		padding: 0 20%;
	}
}