.landing {
	display: flex;
	align-items: center;
	padding: 0 5%;
	height: 100vh;
	width: 100vw;
}

.heading {
	font-size: 6rem;
	font-weight: 900;
}

.text {
	font-size: 1.8rem;
	font-weight: 300;
	margin: 2rem 0 3.5rem;
}

.content > button {
	left: .5rem;
}

@media screen and (min-width: 768px) {
	.text {
		width: 75%;
	}
}

@media screen and (min-width: 1024px) {
	.landing {
		padding: 0 10%;
	}
}

@media screen and (min-width: 1366px) {
	.landing {
		padding: 0 15%;
	}
	.text {
		width: 50%;
	}
}

@media screen and (min-width: 1920px) {
	.landing {
		padding: 0 20%;
	}
}