.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100vw;
	padding: 0 5%;
	background: var(--b2);
	z-index: 2;
}

@supports (backdrop-filter: blur()) {
	.nav {
		background: var(--b3opaque);
		backdrop-filter: blur(5px);
	}
}

.navClear {
	composes: nav;
	backdrop-filter: none;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	height: 100vh;
	width: 100vw;
	background: var(--b2);
	transform: translateY(-100%);
	will-change: transform;
	transition: var(--t3) linear;
}

.navClear > .menu {
	transform: translateY(0);
}

@supports (backdrop-filter: blur()) {
	.navClear > .menu {
		background: var(--b3opaque);
		backdrop-filter: blur(5px);
	}
}

.menuItem {
	font-size: 2.5rem;
	font-weight: 700;
	cursor: pointer;
	transition: var(--t1) linear;
}

.menuItem:nth-child(1) {
	animation-delay: var(--t4);
}

.menuItem:nth-child(2) {
	animation-delay: var(--t5);
}

.menuItem:nth-child(3) {
	animation-delay: var(--t6);
}

.menuItem::before {
	font-size: 2.5rem;
	font-weight: 700;
	color: var(--b1);
	margin-right: 5px;
}

.menuItem:nth-child(1)::before {
	content: '01.'
}

.menuItem:nth-child(2)::before {
	content: '02.'
}

.menuItem:nth-child(3)::before {
	content: '03.'
}

.links {
	display: flex;
	gap: 1rem;
	position: relative;
	bottom: 2px;
}

.link {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	will-change: transform;
	// transition: var(--t1) linear;
}

.link:nth-child(1) {
	animation-delay: var(--t7);
}

.link:nth-child(2) {
	animation-delay: var(--t8);
}

.link > svg {
	color: var(--b1);
	font-size: 2.75rem;
	transition: var(--t1) linear;
}

.menuBtnWrap {
	animation-delay: var(--t4);
}

.menuBtn {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem 0;
	height: 100%;
	width: 3rem;
	background: transparent;
	will-change: transform;
	transition: var(--t3) linear;
	// transition: var(--t4) linear var(--t4);
	// animation-delay: var(--t4);
}

.menuBtnCrossed {
	composes: menuBtn;
	transform: rotate(-90deg);
}

.menuBtnCrossed > .bar1 {
	transform: translateY(0) rotate(-45deg);
}

.menuBtnCrossed > .bar2 {
	transform: translateY(0) rotate(45deg);
}

.bar {
	position: absolute;
	height: 2px;
	width: 100%;
	background: var(--b1);
	will-change: transform;
	transition: var(--t3) linear;
}

.bar1 {
	composes: bar;
	transform: translateY(-5px);
}

.bar2 {
	composes: bar;
	transform: translateY(5px);
}

@media screen and (min-width: 768px) {
	.menuBtn {
		display: none;
	}
	.menu {
		position: unset;;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 2.5rem;
		height: unset;
		width: unset;
		padding: 2.5rem 0;
		background-color: transparent;
		transform: translateY(0);
	}
	.menuItem, .menuItem::before {
		font-size: 1.4rem;
		font-weight: 500;
	}
	.links {
		gap: .75rem;
	}
	.link > svg {
		font-size: 2.25rem;
	}
}

@media screen and (min-width: 1024px) {
	.nav {
		padding: 0 10%;
	}
}

@media screen and (min-width: 1366px) {
	.nav {
		padding: 0 15%;
	}
	.menuItem:hover {
		color: var(--b1);
	}
}

@media screen and (min-width: 1920px) {
	.nav {
		padding: 0 20%;
	}
}