.main {
	padding: 12.5rem 5%;
	will-change: transform;
}

.main:last-child {
	padding: 12.5rem 5% 7.5rem;
}

@media screen and (min-width: 1024px) {
	.main {
		padding: 12.5rem 10%;
	}

	.main:last-child {
		padding: 12.5rem 10% 7.5rem;
	}
}

@media screen and (min-width: 1366px) {
	.main {
		padding: 12.5rem 15%;
	}
	
	.main:last-child {
		padding: 12.5rem 15% 7.5rem;
	}
}

@media screen and (min-width: 1920px) {
	.main {
		padding: 12.5rem 20%;
	}

	.main:last-child {
		padding: 12.5rem 20% 7.5rem;
	}
}